.Background_img{
    /* background-color: aqua; */
    /* background-image: url("../../../../public/images/first_home123.png"); */
    height: 1164px;
    width: 100%;
    /* position: sticky; */
    /* position: fixed; */
}
.imgCover{
    width: 226px;
    height: 472px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.borderimg{
 padding:15% 0% 0% 10%;
    /* justify-content: center !important; */
}
.border_Radios{
    border:1px solid rgba(255, 255, 255, 0.5);
    width: 20%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}